body {
	background: url(../img/bgcont.png);
	width: 100%;
}
.wrap  {
	max-width: 980px;
	margin: 100px auto;
	display: block;
}
h1 {
	text-transform: uppercase;
	font-size: 48px;
	text-align: center;
	color: #fff;
}
h4 {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}
p {
	color: #fff;
	text-align: center;
}
ul li {
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding-bottom: 5px;
	list-style-position: inside;
	/*list-style-type: none;*/
}
ul li a {
	color: #fff;
}

@media only screen and (max-width : 320px) {
	.wrap  {
	margin: 50px auto;
	}
	h1 {
		font-size: 36px;
	}
	ul li {
	padding-bottom: 10px;
	}
	ul {
	margin-right: 40px;
}
}