/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-account-icon {
  background-image: url(sprite.png);
  background-position: 0px -98px;
  width: 19px;
  height: 17px;
}
.icon-arrows-slider {
  background-image: url(sprite.png);
  background-position: 0px -48px;
  width: 60px;
  height: 30px;
}
.icon-arrows-slider_active {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 68px;
  height: 28px;
}
.icon-desktop-menu-button {
  background-image: url(sprite.png);
  background-position: 0px -172px;
  width: 16px;
  height: 12px;
}
.icon-items-in-cart {
  background-image: url(sprite.png);
  background-position: -88px -43px;
  width: 23px;
  height: 21px;
}
.icon-menu-down-arrow {
  background-image: url(sprite.png);
  background-position: -36px -172px;
  width: 11px;
  height: 7px;
}
.icon-menu-right-arrow {
  background-image: url(sprite.png);
  background-position: -180px -135px;
  width: 7px;
  height: 11px;
}




.icon-mobile-menu-account-active {
  background-image: url(sprite.png);
  background-position: -169px 0px;
  width: 19px;
  height: 16px;
}
.icon-mobile-menu-account {
  background-image: url(sprite.png);
  background-position: -119px -98px;
  width: 19px;
  height: 16px;
}
/*.icon-mobile-menu-button-active {*/
  /*background-image: url(sprite.png);*/
  /*background-position: -144px -135px;*/
  /*width: 16px;*/
  /*height: 14px;*/
/*}*/
/*.icon-mobile-menu-button {*/
  /*background-image: url(sprite.png);*/
  /*background-position: -108px -135px;*/
  /*width: 16px;*/
  /*height: 14px;*/
/*}*/
/*.icon-mobile-menu-cart-active {*/
  /*background-image: url(sprite.png);*/
  /*background-position: -169px -36px;*/
  /*width: 17px;*/
  /*height: 17px;*/
/*}*/
/*.icon-mobile-menu-cart {*/
  /*background-image: url(sprite.png);*/
  /*background-position: -169px -73px;*/
  /*width: 17px;*/
  /*height: 17px;*/
/*}*/
/*.icon-mobile-menu-home-active {*/
  /*background-image: url(sprite.png);*/
  /*background-position: -39px -98px;*/
  /*width: 20px;*/
  /*height: 16px;*/
/*}*/
/*.icon-mobile-menu-home {*/
  /*background-image: url(sprite.png);*/
  /*background-position: -79px -98px;*/
  /*width: 20px;*/
  /*height: 16px;*/
/*}*/
/*.icon-mobile-menu-phone-active {*/
  /*background-image: url(sprite.png);*/
  /*background-position: -131px -38px;*/
  /*width: 16px;*/
  /*height: 17px;*/
/*}*/
/*.icon-mobile-menu-phone {*/
  /*background-image: url(sprite.png);*/
  /*background-position: 0px -135px;*/
  /*width: 16px;*/
  /*height: 17px;*/
/*}*/
/*.icon-mobile-menu-search-active {*/
  /*background-image: url(sprite.png);*/
  /*background-position: -72px -135px;*/
  /*width: 16px;*/
  /*height: 16px;*/
/*}*/
/*.icon-mobile-menu-search {*/
  /*background-image: url(sprite.png);*/
  /*background-position: -36px -135px;*/
  /*width: 16px;*/
  /*height: 16px;*/
/*}*/
.icon-search_active {
  background-image: url(sprite.png);
  background-position: -131px 0px;
  width: 18px;
  height: 18px;
}
.icon-shoping_cart {
  background-image: url(sprite.png);
  background-position: -88px 0px;
  width: 23px;
  height: 23px;
}
