*::-webkit-input-placeholder {
	color: #fff;
	opacity: 1;
}
*:-moz-placeholder {
	color: #fff;
	opacity: 1;
}
*::-moz-placeholder {
	color: #fff;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #fff;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

.hidden {
	display: none;
}
.container-fluid {
	max-width: 1190px;
}

h1 {
	font-family: "RobotoBlack";
	font-size: 60px;
	font-weight: 900;
	line-height: 50px;
	color: #fff;
}
h3 {
	font-family: "RobotoBlack";
	color: #fff;
	font-size: 22px;
}
p {
	font-family: "MyriadPro";
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #fff;
}
.bold {
	font-family: "MyriadProBold";
}
.underline {
	text-decoration: underline;
	cursor: pointer;
}
/*ul {
	list-style-image: url(../img/section_2-li.png);
	top: 12px;
}*/
ul li {
	font-family: "MyriadPro";
	background: rgba(0, 0, 0, 0) url("../img/section_2-li.png") no-repeat scroll 0 11px;
	padding-left: 40px;
	font-size: 16px;
	line-height: 22px;
	list-style-type: none;
}
.blue {
	color: #5292e6;
}
.small {
	font-size: 16px;
}
.button	{
	display: block;
	background: url(../img/section_1-button_un.png) no-repeat center center;
	max-width: 343px;
	height: 83px;
	transition: 
}
.button:hover {
	background: url(../img/section_1-button.png) no-repeat center center;
	transition: all 1s;
}
.button a {
	display: block;
	position: relative;
	top: 50%;
 transform: translateY(-50%);
	text-align: center;
	color: rgba(255,255,255, 1);
	font-family: "RobotoBlack";
	font-size: 30px;
	line-height: 50px;
	transition: all 1s;
}
.button a:hover {
	text-decoration: none;
	color: rgba(255,255,255, 0.7);
}




/*******   SECTION  1  *******/
section.top {
	background: url(../img/section_1-background.jpg) no-repeat top center;
	padding-top: 36px;
	padding-bottom: 32px;
}
section.top .nav .logo h3 {
	position: relative;
	padding-top: 30px;
	margin-bottom: 0;
    margin-top: -31px;
    height: 70px;
}
section.top .nav .logo h3 a {
	color: #fff;
	display: block;
	height: 70px;

}
/*section.top .nav .logo h3:before {
	content: "";
	width: 225px;
	height: 70px;
	background: rgba(0, 0, 0, 0) url("../img/section_1-logo_before.png") no-repeat scroll 28px 8px;
	position: absolute;
	z-index: 10000;

}*/
section.top .nav ul {
	list-style-image: none;

}
section.top .nav ul li {
	list-style-type: none;
	display: inline-block;
	float: left;
	background: none;
	padding-left: 0px;
}
section.top .nav ul li a {
	font-family: "RobotoBlack";
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	color: #fff;
	padding: 10px 13px;
	transition: all 1s;
	border: 2px solid rgba(255, 255, 255, 0.0);
	border-radius: 19px;
	
}
section.top .nav ul li a:hover {
	color: #5292e6;
	border: 2px solid rgba(255, 255, 255, 0.2);
	text-decoration: none;

}
section.top .hero_section {
	padding-top: 120px;
}
section.top .hero_section .hero_text {
	background: url(../img/section_1-border.png) no-repeat center 25px;
	padding-bottom: 57px;
	margin-bottom: 50px;
}
section.top .hero_section h1 {
	text-align: center;
	padding-bottom: 15px;
}
.lines {
	display: block;
	margin: 0 auto;
	height: 6px;
	width: 162px;
	margin-bottom: 20px;
}
span.line {
	width: 81px;
	height: 3px;
	background-color: #5292e6;
	display: block;
	text-align: center;
	margin: 0 auto;
}
span.line.right {
	float: right;
}
span.line.left {
	float: left;
	margin-top: 3px;
}
section.top .hero_section p {
	max-width: 760px;
	text-align: center;
	margin: 0 auto;
}
section.top .hero_section .button {
	margin: 0 auto 50px;
}
section.top .hero_section .mouse {
	display: block;
	background: url(../img/section_1-mouse.png) no-repeat center center;
	margin: 0 auto;
	width: 30px;
	height: 44px;
	opacity: 0.5;
	transition: all 1s;
}
section.top .hero_section .mouse:hover {
	opacity: 1;
}


/*******   SECTION  2  *******/
section.advantage {
	padding: 50px 0px;
}
section.advantage h1 {
	text-align: center;
	color: #294869;
	padding-bottom: 15px;
}
section.advantage p {
	text-align: center;
	color: #000;
	max-width: 520px;
	margin: 0 auto;
	padding-bottom: 50px;
}
section.advantage p.text {
	color: #024869;
	font-family: "RobotoBlack";
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}
section.advantage .img-responsive {
	padding-bottom: 45px;
	margin: 0 auto;
}

/*******   SECTION  3  *******/

section.whatIs {
	background: url(../img/section_2-background.jpg) no-repeat top center;
	padding-top: 90px;
	min-height: 910px;
}
section.whatIs h1 {
	padding-bottom: 45px;
}
section.whatIs ul li {
	margin-bottom: 40px;
	color: #fff;
}

/*.lineDegree {
	position: relative;
	height: 450px;
	display: block;
	width: 100%;
	background: #fff;
	transform: skewY(-13deg);
	margin-top: -230px;
}
.lineDegree:before {
  	background: rgba(0, 0, 0, 0) url("../img/section_3-half.png") no-repeat scroll 910px -8px;
    content: "";
    display: block;
    height: 100%;
    line-height: 147px;
    position: relative;
    transform: skewY(13deg);
    width: 100%;
    z-index: -1;
}*/


/*******   SECTION  4  *******/
section.whoNeeds {
	background: url(../img/section_3-background.png) no-repeat top center;
	margin-top: -463px;
	padding-top: 460px;
}
section.whoNeeds h1 {
	color: #294869;
	padding-bottom: 45px;
}
section.whoNeeds ul li {
	margin-bottom: 40px;
	color: #2a4967;
}
section.whoNeeds .ship {
	background: url(../img/section_4-ship.png) no-repeat 170px 0px;
	position: relative;
}


/*******   SECTION  5  *******/

section.price {
	background: url(../img/section_5-background.jpg) no-repeat top center #000;
	padding-top: 260px;
	padding-bottom: 40px;
}
section.price h1 {
	text-align: center;
	padding-bottom: 60px;
	position: relative;
}
section.price h1.blue {

}
section.price .price_block {
	display: block;
	position: relative;
	height: 520px;
}
section.price .price_block h1:before {
	content: "";
	width: 335px;
	height: 100px;
	background: rgba(0, 0, 0, 0) url("../img/section_5-before.png") no-repeat scroll 44px 0px;
	position: absolute;
	display: block;
	font-size: 48px;
	line-height: 42px;
}
section.price ul li {
	margin-bottom: 20px;
	color: #fff;
}
section.price .price_block h1 {
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 25px;
}
section.price .priseVariations .price_block {
	background: url(../img/section_5-border.png) no-repeat 1px 22px;
}
section.price .priseVariations h3 {
	margin-bottom: 15px;
	text-align: center;
	background: rgba(255, 255, 255, 0.1);
}
section.price .priseVariations ul li {
	background: rgba(0, 0, 0, 0) url("../img/section_2-li.png") no-repeat scroll 0 0;
}
section.price .priseVariations ul {
	padding-left: 25px;
}
section.price .priseVariations .price_block {
	width: 370px;
}
section.price .priseVariations .button {
	margin: 50px auto 30px;
	position: relative;
	display: block;
}


/*******   SECTION  6  *******/

section.faq {
	padding-top: 50px;
	padding-bottom: 50px;
}
section.faq h1 {
	color: #294869;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 10px;
}
section.faq p {
	color: #182b3e;
}
section.faq .under_heading {
	max-width: 530px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
}
section.faq .blockOfText {
	border: 5px solid #024569;
	border-bottom: 5px solid #024569;
	border-left: 5px solid #024569;
	border-right: 5px solid #024569;
	margin-bottom: 35px;
	padding: 0 20px 20px 20px;
	z-index: 100;
	position: relative;
}

section.faq p.bold {
	background: #fff;
	text-align: center;
	z-index: 1000;
	position: absolute;
	top: -14px;
	left: 20px;
	padding-left: 10px;
	padding-right: 10px;

}


/*******   SECTION  7  *******/
section.form {
	background: url(../img/section_7-background.jpg) no-repeat top center #000;
	padding-top: 70px;
}
section.form .contacts .contact_form {
	max-width: 726px;
	margin-bottom: 50px;
}
section.form .contacts .contact_form h1 {
	margin-bottom: 25px;
	text-align: center;
}
section.form .contacts input,
section.form .contacts textarea {
	width: 100%;
	height: 45px;
	display: block;
	margin-bottom: 15px;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid white;
	color: #feffff;
	font-family: "MyriadPro";
	font-size: 20px;
	font-weight: 400;
	line-height: 22px;
	padding-left: 12px;
	padding-right: 12px;
	transition: all 0.5s;
}
section.form .contacts input:focus,
section.form .contacts textarea:focus {
	border: 1px solid #5392e6;
}
section.form .contacts textarea {
	height: 80px;
	resize: none;
	padding-top: 10px;
}

section.form .contacts .contact_form h1 {
	/*padding-bottom: 20px;*/
	background: black;
	z-index: 100;
	position: relative;
	max-width: 330px;
	margin: 0 auto;
	line-height: 72px;
}
section.form .contacts .contact_form h1:before {
	content: "";
	display: block;
	position: absolute;
	background: url("../img/section_7-before.png") 5px 5px no-repeat;
	width: 335px;
	height: 90px;
}

section.form .contacts .contact_form .border {
	border: 5px solid white;
	z-index: 10;
	position: relative;
	margin-top: -37px;
    padding: 70px 40px 40px;
}
section.form .contacts .contact_form .button {
	max-width: 700px;
	background: rgba(0, 0, 0, 0) url("../img/section_7-button.png") no-repeat scroll center center;
}
section.form .contacts_phone {
	margin-top: 29px;
}
section.form .contacts_phone p {
	line-height: 30px;
}
section.form .footer {
	padding-bottom: 30px;
}
section.form .footer p {
	opacity: 0.5;
	color: #abb7c3;
	font-size: 11px;
	line-height: 16px;
}
section.form .footer .logos a {
	float: right;
	display: block;
	margin-left: 14px;
}
section.form .footer .goUp a {
	float: right;
	display: block;
	margin-left: 14px;
}

/******* popUp *********/

.popUp {
	width: 100%;
	height: 2000px;
	background-color: rgba(0,0,0,0.5);
	overflow:hidden;
    position:fixed;
    top:0px;
}
.popUp .popUpContent {
	 margin:40px auto 0px auto;
}
.popUp .popUpContent .container-fluid {
	max-width: 612px;
	padding: 26px 20px 0px;
	background: #fff;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
}
.popUp .popUpContent h1 {
	color: #5292e6;
	text-align: center;
	margin-bottom: 30px;
}
.popUp .popUpContent input,
.popUp .popUpContent select {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	height: 45px;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid #c9c9c9;
	border-radius: 15px;
	transition: all 0.5s;
	padding-left: 18px;
	color: #000;
}
.popUp .popUpContent select {
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none;
  appearance: none!important;
  background-image: url('../img/popArrow.png');
  background-repeat: no-repeat;
  background-position: 97.5% 50%;
}
.popUp .popUpContent .arrow {
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none;
  appearance: none!important;
  background-image: url('../img/popArrow.png');
  background-repeat: no-repeat;
  background-position: 97.5% 50%;
}
.popUp .popUpContent select option {
width:150px;
    border:1px solid red;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding:2px;
}
ul.ui-autocomplete li {
	background: none;
	padding-left: 0px;
}
ul.ui-autocomplete {
	border-radius: 15px;
}
ul.ui-autocomplete li;focus {
	border-radius: 15px;
}
.popUp .popUpContent .button {
	margin: 40px auto;
}


/*ul li {
	font-family: "MyriadPro";
	background: rgba(0, 0, 0, 0) url("../img/section_2-li.png") no-repeat scroll 0 11px;
	padding-left: 40px;
	font-size: 16px;
	line-height: 22px;
	list-style-type: none;
}*/
.popUp .popUpContent *::-webkit-input-placeholder {
	color: #000;
	opacity: 1;
}
.popUp .popUpContent *:-moz-placeholder {
	color: #000;
	opacity: 1;
}
.popUp .popUpContent *::-moz-placeholder {
	color: #000;
	opacity: 1;
}
.popUp .popUpContent *:-ms-input-placeholder {
	color: #000;
	opacity: 1;
}

.popUp .popUpContent input:focus,
.popUp .popUpContent select:focus {
	border: 1px solid #5392e6;
}