/*==========  Desktop First Method  ==========*/


@media only screen and (max-width : 1400px) {
	section.whoNeeds .ship {
    background: rgba(0, 0, 0, 0) url("../img/section_4-ship.png") no-repeat scroll 20px 0;
   }
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	section.top .nav ul {
	float: right;
	}
	section.whoNeeds .ship {
    background: rgba(0, 0, 0, 0) url("../img/section_4-ship.png") no-repeat scroll 16px 0 / 57% auto;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	section.top .logo h3 {
	text-align: center;
	margin-bottom: 10px;
	}
	section.top .nav ul {
	float: none;
	display: block;
	margin: 0 auto;
	max-width: 383px;
	}
	section.whoNeeds .ship {
    background: none;
}
section.whoNeeds {
    padding-top: 346px;
}
section.price {
    margin-top: -100px;
}
section.price .price_block {
    margin: 10px auto 0;
}
section.faq .blockOfText {
	border-left: 5px solid #024569;
	border-right: 5px solid #024569;
	border-bottom: 5px solid #024569;
    border-top: none;
}
section.faq p.bold {
    position: relative;
    left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	h1 {
    font-size: 40px;
    line-height: 40px;
}
	section.top .nav ul li {
	display: block;
	width: 280px;
	margin-bottom: 15px;
	text-align: center;
	}
}
section.top .hero_section {
    padding-top: 40px;
}
section.top .hero_section .hero_text {
	background: none;
}
section.top .hero_section .hero_text {
    margin-bottom: 11px;
    padding-bottom: 0px;
}
.mouse {
	display: none;
	visibility: hidden;
}
section.top .hero_section .button {
    margin: 0 auto 10px;
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
h1 {
    font-size: 35px;
    line-height: 37px;
}
section.advantage {
	padding: 25px 0px;
}
section.whatIs {
    background: rgba(0, 0, 0, 1);
    min-height: 1000px;
}
.lineDegree {
	background: #fff none repeat scroll 0 0;
    display: block;
    height: 300px;
    margin-top: -300px;
    position: relative;
    transform: skew(-70deg);
    width: 100%;
    margin-top: -150px;
}
section.whoNeeds .ship {
    background: rgba(0, 0, 0, 0);
}
section.whoNeeds {
    background: rgba(0, 0, 0, 0);
    margin-top: -310px;
    padding-top: 200px;
}
section.price {
    margin-top: -110px;
}
section.price .priseVariations .price_block {
    max-width: 286px;
}
section.price .priseVariations .price_block {
    background: rgba(0, 0, 0, 0);
    border: 5px solid #fff;
    margin-bottom: 20px;
}
section.price .price_block h1::before {
    background: rgba(0, 0, 0, 0);
}
.button {
    max-width: 250px;
}

section.faq .blockOfText {
	border-left: 5px solid #024569;
	border-right: 5px solid #024569;
	border-bottom: 5px solid #024569;
    border-top: none;
}
section.faq p.bold {
    position: relative;
    left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
section.form .contacts .contact_form h1 {
    z-index: 0;
}
section.form .contacts .contact_form h1::before {
    background: rgba(0, 0, 0, 0);
}
section.form .contacts .contact_form .border {
   margin-top: -73px;
   padding-top: 73px;
}
section.form .footer p {
    text-align: center;
}



}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}