//main styles
::-webkit-input-placeholder {color: #ffffff;}
::-moz-placeholder          {color: #ffffff;}/* Firefox 19+ */
:-moz-placeholder           {color: #ffffff;}/* Firefox 18- */
:-ms-input-placeholder      {color: #ffffff;}

body {
	background: #f79d00; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f79d00, #64f38c); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f79d00, #64f38c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
	width: 100%;
	position: relative;
	min-height:100%;
	background: #f79d00;
	background: -webkit-linear-gradient(to right, #f79d00, #64f38c); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f79d00, #64f38c);
	@include center_margin;
}
.wrapper {
	min-width: $min-width;
	max-width: 95%;
	padding: 0 0px 0 0px;
	margin: 0 auto;
	position: relative;
	width: 520px;
}


/* titles */
p{
	@include font($base-font-size,$base-line-height,$text-color);
	padding: 15px 0 15px 0;
	font-weight: normal;
}
h1{
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: 'roboto_thin';
	text-align: center;
	font-weight: normal;
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: 'roboto_light';
	font-weight: normal;
}
.section-title {
	text-align: center;
	position: relative;
	padding-top: 70px;
	margin-bottom: 20px;
}
.section-title:before {
	content: '';
	width: 48px;
	height: 48px;
	display: block;
	position: absolute;
	top:0px;
	background: url(../img/spritesheet.png) no-repeat;
	@include center_horizontal_transform();
}
.section-title_about-me:before {
	background-position: -100px -20px;
}
.section-title_experience-info:before {
	background-position: -194px -158px;
}
.section-title_experience-js:before {
	background-position: -107px -107px;
}
.section-title_proposal-info:before {
	background-position: -20px -107px;
}
.input-forms {
	margin-top: 46px;
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;
}
/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{
	min-width: $min-width;
	width: 100%;
	background: inherit;
	padding-top: 40px;
}
.title {
	font-size: 30px;
	text-align: center;
}
.list {
	background: #eaeaea;
	width: 100%;
}
.list-item {
	list-style-type: none;
	padding: 20px;
	border-bottom: 1px solid black;
	display: block;
	position: relative;
	background: #fff;
	@include transition($default-transition);
}
.list-item:hover {
	background: #ddd;
}
.list-item label {
	cursor: pointer;
}
.list-item_close-button {
	position: absolute;
	right: 20px;
	cursor: pointer;
}
.list-item_label {
	font-size: 18px;
	font-family: roboto_light;
	position: relative;
	padding-left: 20px;
}
.list-item_input {
	position: relative;
	left: -9999px;
}
.list-item_input:checked + .list-item_label {
	text-decoration: line-through;
}
.list-item_label:before {
	content: '';
	position: absolute;
	left: -15px;
	width: 20px;
	height: 21px;
	background: url(../img/checkbox.png) no-repeat;
	background-position: -20px -80px;
}
.list-item_label:hover:before {
	background-position: -80px -19px;
}
.list-item_input:checked + .list-item_label:before {
	background-position: -20px -19px;
}
.number {
	display: inline-block;
	margin-right: 8px;
	font-size: 15px;
	vertical-align: top;
	position: relative;
	top: 2px;
	width: 11%;
	text-align: center;
}
.list-item_label {
	width: 70%;
	display: inline-block;
}
.list-item_close-button {
	width: 2%;
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 0px;
	background: url(../img/close_button.png) no-repeat;
	background-size: 100%;
}
.add-items {
	width: 100%;
}
.add-items:after {
	content: '';
	display: table;
	clear: both;
}
.add-items_input {
	height: 40px;
	width: 90%;
	background: rgba(167, 203, 76, 0.3);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 5px 5px 10px;
	border: 1px solid rgba(255,255,255,0.5);
	color: #ffffff;
	font-size: 18px;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	float: left;
}
.add-items_button {
	height: 40px;
	position: relative;
	background: #aad0aa;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: none;
	width: 10%;
	display: inline-block;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 30px;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.6);
	float: left;
}
.list_head {
	background: #fff;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 2px;
	box-shadow: 0px 4px rgba(118, 140, 117, 0.5);
}
.task_number,
.task_name {
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
	color: #000;
	position: relative;
}
.task_number {
	width: 15%;
	text-align: center;
	margin-right: 25px;
}
.task_name {
	width: 20%;
	text-align: left;
}
.task_number.arrow-down:before {
	content: '';
	width: 24px;
	height: 24px;
	position: absolute;
	right: -15px;
	top: 50%;
	transform: translateY(-50%);
	background: url(../img/arrow.png) no-repeat;
}
.task_number.arrow-up:before {
	content: '';
	width: 24px;
	height: 24px;
	position: absolute;
	right: -15px;
	top: 50%;
	transform: translateY(-50%);
	background: url(../img/arrow-up.png) no-repeat;
}
.task_name.arrow-down:before {
	content: '';
	width: 24px;
	height: 24px;
	position: absolute;
	right: -5px;
	top: 50%;
	transform: translateY(-50%);
	background: url(../img/arrow.png) no-repeat;
}
.task_name.arrow-up:before {
	content: '';
	width: 24px;
	height: 24px;
	position: absolute;
	right: -5px;
	top: 50%;
	transform: translateY(-50%);
	background: url(../img/arrow-up.png) no-repeat;
}
@media screen and (max-width: 1200px) {

}

@media screen and (min-width: 992px){

}

@media screen and (max-width: 991px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}
@media screen and (max-width: 555px) {

}
@media screen and (max-width: 480px) {

}




