/* reset */
$min-width: 320px;
$max-width: 768px;
$base-bg: #FFF;
$base-font-size: 13px;
$base-line-height: 19px;
$base-font-family: Arial, sans-serif;
$custom-font-family: 'roboto_regular', sans-serif;
$link-color: #435993;
$default-transition:all 0.2s linear;

/* main variables */

//text, titles
$text-color: #000;
$title-color: #000;
$title-font-family: $custom-font-family;

$font-size-h1: 70px;
$line-height-h1: 76px;
$font-size-h2: 30px;
$line-height-h2: 36px;
$font-size-h3: 28px;
$line-height-h3: 32px;